@use '../node_modules/bootstrap/scss/bootstrap.scss';


html,
body {
  padding: 0;
  margin: 0;
}

.nav-links {
  cursor: pointer;
}

.brand {
  cursor: pointer;
  a {
    text-decoration: none;
    color: saddlebrown;
  }
}

.reg-form {
  border: 2px black dotted;
}

// * {
//   box-sizing: border-box;
// }
